BOT_TOKEN=1234567890:YOUR_BOT_TOKEN
BOT_USERNAME=your_bot_username
# Важно: без символа @
ADMIN_IDS=123456789
DATABASE_URL=sqlite+aiosqlite:///./bot.db
CHANNEL_1_ID=-1001111111111
CHANNEL_1_NAME=Приват
PRIVATE_30_PRICE_XTR=250
PRIVATE_60_PRICE_XTR=450
INVITE_LINK_EXPIRE_HOURS=24
CHECK_EXPIRED_EVERY_MINUTES=10
CHECK_PENDING_CRYPTO_EVERY_MINUTES=3
TRIAL_MODE=false
PAYMENT_TEST_MODE=false
PAYMENT_TEST_ADMIN_ONLY=true
DONATE_URL=
EXTERNAL_BOT_URL=https://t.me/monoservice_bot?start=ref_524922074
CRYPTO_PAY_TOKEN=
CRYPTO_PAY_TESTNET=false
CRYPTO_PAY_BASE_URL=
CRYPTO_PAY_ASSET=USDT
CRYPTO_USDT_PER_STAR=0.01
